# ------------------------------------------------------------------
# Arquivos de Sistema Operacional (Windows, Mac, Linux)
# ------------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------------
# Arquivos do Editor de Código (VS Code, Sublime Text, etc.)
# ------------------------------------------------------------------
.vscode/

# ------------------------------------------------------------------
# Arquivos de Cache e Logs (Geralmente gerados automaticamente)
# ------------------------------------------------------------------
*.log
*.tmp
/temp/

# ------------------------------------------------------------------
# Pastas de Dependências (Se você usar Node.js/NPM no futuro)
# --------------------------------------------------
# node_modules/
